<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>User Login</h1>
            <label for="userName">User Name</label>
            <input type="text" [(ngModel)]="loginHash.userName" id="userName">
            <br>
            <br>
            <label for="pass">Password</label>
            <input type="password" [(ngModel)]="loginHash.password" id="pass">
            <br>
            <button type="button" (click)="Login()"> Login</button>
        </div>
    </div>
</div>
