<!-- <h1>
  {{title}}
</h1> -->
<!-- <div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<router-outlet></router-outlet>
		</div>
	</div>
</div> -->

<router-outlet></router-outlet>
