<div class="container">
	<div class="row">
		<h1 class="text-center">Dash Board</h1>
		<div class="col-md-4">
			<div class="box">
				<a routerLink= "/first-block"> <h2 class="text-center">1st Block</h2></a>
			</div>	
		</div>
		<div class="col-md-4">
			<div class="box">
				<a routerLink= "/first-block"> <h2 class="text-center">2nd Block</h2></a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box">
				<a routerLink= "/first-block"> <h2 class="text-center">3rd Block</h2></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="box">
				<a routerLink= "/first-block"> <h2 class="text-center">4th Block</h2></a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box">
				<a routerLink= "/first-block"> <h2 class="text-center">5th Block</h2></a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box">
				<a routerLink= "/first-block"> <h2 class="text-center">6th Block</h2></a>
			</div>
		</div>
	</div>
</div>