<nav>
    <ul>
        <li><a routerLink="/test1" routerLinkActive="active">Test 1</a></li>
        <li><a routerLink="/test2" routerLinkActive="active">Test 2</a></li>
        <li><a routerLink="/test3" routerLinkActive="active">Test 3</a></li>
        <li><a routerLink="/test4" routerLinkActive="active">Test 4</a></li>
    </ul>
</nav>
